-- Add user_id and profile_id columns
ALTER TABLE public.registries 
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id),
ADD COLUMN IF NOT EXISTS profile_id UUID REFERENCES profiles(id);

-- Update profile_id based on user_id match (since profile.id = auth.users.id)
UPDATE public.registries r 
SET profile_id = r.user_id;

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_registries_user_id ON public.registries(user_id);
CREATE INDEX IF NOT EXISTS idx_registries_profile_id ON public.registries(profile_id);
